:local(.strip) {
  align-items: center;
  display: flex;
  justify-content: space-between;
 }

 :local(.strip) > * {
  flex-grow: 1;
 }

 :local(.strip) > span {
  flex-grow: 0;
 }

:local(.day) {
  padding: .1rem 0;
  text-align: center;
}

:local(.day) span {
  display: block;
  line-height: 1em;
}

:local(.day).today div {
  background: grey;
  color: white;
}

:local(.day).active div {
  background: black;
  color: white;
}

:local(.day).disabled div {
  opacity: .5
}
